<% content_for :title, "Stone Types" %>
<h1>Stone Types</h1>
<h3><%= link_to "New Stone Type", new_stone_type_path %></h3>
<table>
  <tr>
    <th style="text-align: left; padding-right:10px;"><strong>Name</strong></th>
    <th style="text-align: left; padding-right:10px;"><strong>Edit</strong></th>
    <th style="text-align: left;"><strong>Delete</strong></th>
  </tr>
  <% @stone_types.each do |stone_type| %>
    <tr>
      <td style="padding-right:10px;"><%= stone_type.name %></td>
      <td style="padding-right:10px;"><%= link_to "Edit", edit_stone_type_path(stone_type) %></td>
      <td><%= stone_type.stones_count == 0 ? link_to("Delete", stone_type, data: { turbo_method: :delete }) : "Can't Delete" %></td>
    </tr>
  <% end %>
</table>